@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #0d0d0f;
  color: #f4f4f5;
  height: 100%;
  font-family: system-ui, sans-serif;
}

* {
  @apply antialiased;
}
